<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:replace="landingPage::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<section class="d-flex vh-100 bg-secondary-subtle">

 <div class="container d-flex justify-content-center align-items-center ">
    <div class="text-center">
      <h1>Gyandeep Kumar</h1>
      <a href="mailto:Gyandeep1030@gmail.com">Gyandeep1030@gmail.com</a>
      <p>Phone: 8076390223</p>
    </div>
  </div>

</section>


</body>
</html>